*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    padding: 2rem;
    font-size: 1.6rem;
}

.button {
    background-color: firebrick;
    border-radius: 1rem;
    border: 1px solid firebrick;
    padding: 1rem;
    color: white;
    margin-left: 1rem;
}

.button:hover {
    transform: scale(1.1);
    background-color: darkviolet;
    border: 1px solid darkviolet;
}

.hidden {
    display: none;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    border: 1px solid white;
    padding: 10px;
    max-width: 200px;
}

.video img {
    width: 100%;
}